@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.header {
    padding-left: 7.313em;
    padding-right: 7.313em;
    width: 90em;
    font-family: "Quicksand", serif;
    height: 5em;
    display: flex;  
}

.menuMobile{
    display: none;
    width: 2.32em;
    height: 2.2em;
    margin-left: 3.5em;
    margin-top: 1.4em;
    background-image: url('../assets/menuMobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}


header .logo{
    margin-top: 1.688em;
    text-transform: uppercase;
    width: 1.625em;
    height: 1.625em;
}

.navigation{
    margin-left: 4.6em;
    margin-top: 2.063em;
    width: 26.8em;
    height: 1em;
}

.navigation ul{
    font-size: 75%;
    list-style: none;
    display: flex;
    font-weight: 500;
    color: #697CA6;
    letter-spacing: 0.05em;
    justify-content: space-between;
}

.navigation a {
    text-decoration: none;
    color: #697CA6;
}

.navigation ul li a:hover{
    color: #5E81FE;
    font-weight: Bold;
}

.socials{
    margin-left: 22.7em;
    margin-top: 2em;
    width: 10.1em;
    height: 1em;
}

.socials ul{
    display: grid;
    grid-template-columns: 1em 1.2em 1.2em 1.2em;
    gap: 1.88em;
    list-style: none;
    width: 100%;
}

.socials ul li:hover{
    cursor: pointer;
    filter: invert(55%) sepia(55%) saturate(4177%) hue-rotate(207deg) brightness(101%) contrast(103%);
}

.btn{
    font-family: "Quicksand", serif;
    transition: all 500ms ease;
    font-size: 0.8em;
    margin-top: 1.55%;
    margin-left: 3.65%;
    color: #3A79FF;
    width:9.4%;
    height:53.75%;
    background-color: #D2E1FF;
    border-radius: 0.125em;
    border-color: transparent;
    font-weight: Bold;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width: 768px){

    .header{
        height: 4.125em;
        width: 48em;
        padding-left: 2.188em;
        padding-right: 2.188em;
    }

    .menuMobile{
        display: flex;
    }

    header .logo{
        margin-top: 1.25em;
        width: 2em;
        height: 2em;
    }

    .navigation{
        display: none;
    }

    .socials{
        margin-left: 11em;
        margin-top: 1.302em;
        width: 14.665em;
        height: 1.584em;
    }

    .socials img{
        margin-top: 0.1em;
        height: 1.3em;
    }
    
    .socials ul{
        display: grid;
        grid-template-columns: 0.9em 1.8em 1.9em 1.548em;
        gap: 2.8em;
        list-style: none;
        width: 100%;
    }
    
    .btn{
        font-size: 0.887em;
        margin-top: 0.8em;
        margin-left: 3.3em;
        width: 9.2em;
        height: 3.3em;
    }

    @media (max-width: 320px){
        .header{
            width: 20em;
            height: 1.719em;
            padding-left: 2.188em;
            padding-right: 2.188em;
        }
    
        .menuMobile{
            display: flex;
            width: 1em;
            height: 1em;
            margin-left: 19.35em;
            margin-top: 0.599em;
            position: absolute;
        }
    
        header .logo{
            margin-top: 0.57em;
            margin-left: -1.25em;
            width: 0.835em;
            height: 0.833em;
        }
    
        .navigation{
            display: none;
        }
    
        .socials{
            margin-left: 4.347em;
            margin-top: 0.25em;
            width: 6.328em;
            height: 0.66em;
        }
    
        .socials img{
            margin-top: 0.3em;
            height: 0.6em;
        }
        
        .socials ul{
            display: grid;
            grid-template-columns: 0.37em 0.59em 0.6em 0.645em;
            gap: 1.35em;
            list-style: none;
            width: 100%;
        }
        
        .btn{
            font-size: 0.369em;
            margin-top: 1em;
            margin-left: 31.2em;
            width: 9.02em;
            height: 3.2em;
            position: absolute;
        }  
    }
}