.quotesSection{
    position: relative;
    width: 90em;
    height: 30.1em;
    border-top: #D8E3FE solid 0.063em;
    border-bottom: #D8E3FE solid 0.063em;
    background: linear-gradient(180deg, rgba(234,240,255,1) 0%, rgba(246,249,255,1) 100%);

}

.quotesContentSection{
    display: flex;
    width: 72.75em;
    height: 16.347em;
    position: absolute;
    margin-left: 17.25em;
    margin-top: 6.813em;
}

.quotesTitle{
    text-align: left;
    margin-top: 2.318em;
    width: 20.8em;
    height: 11.8em;
}

.quotesTitle h3{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 0.625em;
    color: #3D4F9F;
    letter-spacing: 0.10em;
    margin-top: 0.1em;

}

.quotesTitle h2{
    font-family: "Quicksand", serif;
    width: 20.8em;
    font-weight: 500;
    font-size: 2.25em;
    color: #3D4F9F;
    margin-top: 0.95em;

}

.quotesTitle p{
    font-family: "Open Sans", sans-serif;
    font-size: 0.75em;
    font-weight: 600;
    line-height: 189.3%;
    color: #A4ABC8;
    letter-spacing: 0.03em;
    margin-top: 1.3em;
}

.quotes{
    width: 56.875em;
    height: 16.375em;
    margin-left: 8.25em;
    position: relative;
    display: flex;
    overflow: hidden;
}

.firstQuote{
    width: 26.5em;
    height: 12.9em;
    display: flex;
}

.firstQuote p{
    font-family: "Roboto", serif;
    width: 21em;
    height: 6em;
    color: #676F95;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 171.1%;
    letter-spacing: 0.03em;
    margin-left: 4.9em;
    margin-top: 2.6em;
}

.firstQuoteText{
    margin-top: 0.1em;
    background-color: #FFFFFF;
    border: #D8E3FE solid 0.063em;
    width: 26.438em;
    height: 11em;
}

.firstQuote img{
    width: 3.875em;
    height: 3.875em;
    margin-top: 9.1em;
    margin-left: 11.3em;
    position: absolute;
}

.secondQuote{
    margin-top: 0.1em;
    background-color: #FFFFFF;
    border-left: #D8E3FE solid 0.063em;
    border-top: #D8E3FE solid 0.063em;
    border-bottom: #D8E3FE solid 0.063em;
    width: 26.4em;
    height: 11em;
    margin-left: 4em;
    opacity: 40%;
    overflow: hidden;
}

.secondQuote p{
    font-family: "Roboto", serif;
    color: #8D96BD;
    font-weight: 400;
    font-size: 0.875em;
    letter-spacing: 0.03em;
    line-height: 191%;
    width:  21em;
    height: 5.063em;
    margin-left: 4.8em;
    margin-top: 2.5em;
}

.quotes_slider_nav{
    width: 10.5em;
    column-gap: 0.75em;
    display: flex;
    position: absolute;
    margin-top: 15.9em;
    margin-left: 37em;
    height: 0.5em;
}

.quotes_slider_nav .thirdDot{
    background-color: #5283FF;
}

.quotes_slider_nav a{
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #D1D6E3;
}
.quotes_slider_nav a:hover{
    cursor: pointer;
    transform: scale(1.1);
    filter: invert(45%) sepia(100%) saturate(355%) hue-rotate(184deg) brightness(94%) contrast(93%);
}

@media (max-width: 768px){

    .quotesSection{
        width: 48em;
        height: 16.813em;
    
    }
    
    .quotesContentSection{
        width: 61.341em;
        height: 11.676em;
        margin-left: 0.9em;
        margin-top: 2.688em;
    }
    
    .quotesTitle{
        margin-top: 0;
    }

    .quotesTitle h3{
        font-size: 0.65em;
        margin-top: 0.55em;
    
    }
    
    .quotesTitle h2{
        width: 20.8em;
        font-size: 2.058em;
        margin-top: 0.85em;
    }
    
    .quotesTitle p{
        font-size: 0.686em;
        margin-top: 1.5em;
    }

    .quotes{
        width: 40.012em;
        height: 11.676em;
        margin-left: 0.6em;
    }
    
    .firstQuote{
        width: 18.599em;
        height: 9.077em;
        display: flex;
    }
    
    .firstQuote p{
        width: 21em;
        height: 6em;
        font-size: 0.739em;
        letter-spacing: 0.03em;
        margin-left: 2.2em;
        margin-top: 1.449em;
    }
    
    .firstQuoteText{
        width: 18.599em;
        height: 7.711em;
    }
    
    .firstQuote img{
        width: 2.726em;
        height: 2.732em;
        margin-top: 6.3em;
        margin-left: 7.8em;
        position: absolute;
    }

    .secondQuote{
        margin-top: 0.1em;
        width: 4em;
        height: 7.711em;
        margin-left: 3em;
    }
    
    .secondQuote p{
        font-size: 0.739em;
        margin-left: 2em;
        margin-top: 1.449em;
    }

    .quotes_slider_nav{
        width: 14.774em;
        column-gap: 1.063em;
        margin-top: 10.9em;
        margin-left: 23.25em;
        height: 0.705em;
    }
    
    .quotes_slider_nav a{
        width: 0.704em;
        height: 0.705em;
    }

    @media (max-width: 320px){

        .quotesSection{
            width: 20em;
            height: 23.125em;
            margin-left: 0%;
            margin: 0%;
        
        }
        
        .quotesContentSection{
            width: 14.625em;
            height: 8.188em;
            margin-left: 2.688em;
            margin-top: 1.125em;
        }
        
        .quotesTitle{
            margin-top: 0;
        }
    
        .quotesTitle h3{
            font-size: 0.5em;
            margin-top: 0em;
            margin-left: 10.45em;
        
        }
        
        .quotesTitle h2{
            width: 14.688em;
            font-size: 1.563em;
            letter-spacing: 0.005em;
            margin-top: 0.85em;
        }
        
        .quotesTitle p{
            font-size: 0.528em;
            margin-top: 1.5em;
            margin-left: -12.5em;
            text-align: center;
        }
    
        .quotes{
            width: 40.012em;
            height: 9em;
            margin-left: -2em;
            margin-top: 8.4em;
            position: absolute;
        }
        
        .firstQuote{
            width: 18.599em;
            height: 9.077em;
        }
        
        .firstQuote p{
            font-size: 0.616em;
            margin-left: 4.8em;
            margin-top: 2.4em;
        }
        
        .firstQuoteText{
            margin-top: 0.1em;
            width: 18.5em;
            height: 7.5em;
        }
        
        .firstQuote img{
            width: 2.726em;
            height: 2.732em;
            margin-top: 15.6%;
            margin-left: 7.9em;
            position: absolute;
        }
        
        .secondQuote{
            display: none;
            width: 4em;
            height: 9.077em;
        }
        
        .secondQuote p{
            display: none;
            font-size: 0.616em;
        }
    
        .quotes_slider_nav{
            width: 14.774em;
            column-gap: 1.063em;
            margin-top: 19.4em;
            margin-left: -0.1em;
            height: 0.705em;
        }
        
        .quotes_slider_nav a{
            width: 0.704em;
            height: 0.705em;
        }

    }
}